.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .home{
  height: 100%;
  width: 100%;
} */

.GraphContainer{
  color: black;
  border: 1px solid #282c34;
  height: 85vh;
  width: 60%;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: yellow;
  position: relative;
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */
  margin-left: 80;
  margin-bottom: 100;
}

.dropdownpos{
  background-color: #61dafb;
  position: absolute;
  top: 0;
  left: 0;
}
/* .home{
  height: 100%;
  width: 100%;
} */

.GraphContainer{
  color: black;
  border: 1px solid #282c34;
  height: 75vh;
  width: 60%;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: yellow;
  position: absolute;
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */
  bottom: 10%;
  right: 20%;
  
}

.dropdownpos{
  background-color: #61dafb;
  position: absolute;
  top: 0;
  left: 0;
}

.period{
  position: absolute;
  top: 10%;
  right: 10%;
}



.GraphDisplay{
  background-color: aquamarine;
  width: 10vh;
}

.toInput{
  position: absolute;
  top: 20%;
  left: 72%;
  display: table-row;
}